<section class="resume">
  <div class="container">
    <h1 class="resume__title">
      Front-end <br />
      Developer
    </h1>

    <p class="resume__description">
      Desenvolvedor Front-end com foco em qualidade e performance, buscando
      sempre novos conhecimentos e desafios.
    </p>

    <p class="resume__description">
      <code>
        &#123; HTML 5, CSS 3, SASS, PostCSS, SMACSS, ITCSS, BEMCSS, Javascript,
        ES6, Node, JQuery, Angular, Typescript, React, React Native (Expo),
        MySQL, SQL Server, SQLite (Knexjs), AWS Storage, AWS Database &#125;
      </code>
    </p>
  </div>

  <a href="" class="resume__anchor-link">
    No que eu posso te ajudar?
    <span class="material-icons">
      keyboard_arrow_down
    </span>
  </a>
</section>
