<section class="about">
  <div class="container">
    <h1 class="title">Muito prazer!</h1>

    <p class="text">
      Meu nome é Roberto, mas todos me chamam de Beto, tenho {{ age }} anos,
      moro em São Paulo e trabalho como <strong>Desenvolvedor Web</strong> desde
      2008 em aplicações Web.
    </p>

    <p class="text">
      Tenho conhecimento técnico em:
      <span *ngFor="let skill of skills; let i = index">
        {{ skill.name }}<span *ngIf="i + 1 !== skills.length">, </span>
      </span>
    </p>

    <p class="text">
      Atualmente trabalho como Desenvolvedor Front-end Angular 9 e React no
      Picpay em projetos web/app e nos meus momento livres gosto muito de ler,
      pratico corrida de rua e dou uma arranhada no violão
    </p>
  </div>
</section>
