@import "../../shared/stylesheets/variables";
@import "../../shared/stylesheets/mixins";

.about {
  min-height: $heightSections;
  background: $color-2;
  color: $color-1;

  .text {
    font-size: 1.4em;
  }
}
