<div class="header">
  <div class="container container--full">
    <a href="#" class="logo">{{ title }}</a>

    <nav class="is-flex">
      <ul class="links">
        <li class="links__item">
          <a href="#" class="links__link is-hover">Sobre</a>
        </li>
        <li class="links__item">
          <a href="#" class="links__link is-hover">Serviços</a>
        </li>
        <li class="links__item">
          <a href="#" class="links__link is-hover">Portfólio</a>
        </li>
        <li class="links__item">
          <a href="#" class="links__link is-hover">Blog</a>
        </li>
        <li class="links__item">
          <a href="#" class="links__link is-hover">Contato</a>
        </li>
      </ul>

      <ul class="links">
        <li class="links__item links__item--icon">
          <a
            href="https://github.com/robertourias"
            class="links__link"
            target="_blank"
          >
            <img src="assets/github.svg" class="links__img" alt="" />
          </a>
        </li>
        <li class="links__item links__item--icon">
          <a
            href="https://www.linkedin.com/in/robertourias/"
            class="links__link"
            target="_blank"
          >
            <img src="assets/linkedin.svg" class="links__img" alt="" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
