* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a,
input,
textarea,
select {
  font-family: "Roboto", sans-serif;
}
