$margin: 20px;
$font-color: rgba(255, 255, 255, 0.9);
$border-radius: 6px;

$transition-time: 0.3s;
$transition: all $transition-time ease;

$color-1: #0e2042;
$color-2: #6c8ccc;
$color-3: #2d5fc2;
$color-4: #232e42;
$color-5: #21458f;

$color-1: #222222;
$color-2: #ffffff;
$color-3: #1c5d99;
$color-4: #639fab;
$color-5: #f8fafc;
