$margin: 20px;
$heightSections: calc(100vh - 78px);
$border-radius: 6px;

$transition-time: 0.3s;
$transition: all $transition-time ease;

$font-color: rgba(255, 255, 255, 0.9);
$line-height: 1.5;

$color-1: #222222;
$color-2: #ffffff;
$color-3: #1c5d99;
$color-4: #121414;
$color-5: #f8fafc;
