<div class="contact">
  <div class="container">
    <h1 class="title">Contato</h1>

    <p class="text">
      Whatsapp (11) 98092-7661 <br />
      Whatsapp com atendimento em horário comercial, conforme disponibilidade (a
      prioridade é sempre estar com o trabalho em dia). O número não funciona
      para ligações telefônicas convencionais ou via aplicativo.
    </p>

    <p class="text">
      Ok, mas e se eu quiser falar com você pelo telefone?
    </p>

    <p class="text">
      Veja bem: eu trabalho sozinho, com uma fila de trabalhos bastante
      otimizada, e recebo centenas de orçamentos todos os meses. Infelizmente eu
      não conseguiria manter meu padrão de qualidade e agilidade se atendesse a
      orçamentos o tempo inteiro.
    </p>

    <p class="text">
      Isso quer dizer que meus clientes não falam comigo pelo telefone? Pelo
      contrário! Meu telefone está a disposição de todos os meus clientes. Mas
      se você está conhecendo o meu trabalho agora, mande um email explicando o
      seu projeto com detalhes, que eu ficarei feliz em responder com uma
      estimativa de valores e prazo.
    </p>

    <p class="text">
      E-mail: lucas@lucasmodena.com Ou utilize o formulário ao lado ;)
    </p>
  </div>
</div>
