<section class="projects">
  <div class="container">
    <h1 class="title">Projetos</h1>

    <p class="text">
      Meu portfólio completo não está aqui! Apesar de eu eventualmente atender
      clientes finais, a maior parte dos meus trabalhos é realizado para
      agências que confiam no meu serviço.
    </p>

    <div class="text">
      Para ter acesso ao meu portfólio completo e (quase) atualizado, por favor,
      utilize o formulário de contato ou envie um email para
      lucas@lucasmodena.com solicitando um link de acesso.
    </div>
  </div>
</section>
