@import "../../shared/stylesheets/variables";
@import "../../shared/stylesheets/mixins";

.projects {
  margin-bottom: $margin * 3;
  background: $color-3;
  color: $font-color;

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;

    .card {
      &__thumb {
        width: 100%;
      }

      &__name {
      }

      &__description {
      }

      &__keys {
      }
    }
  }
}
