<section class="projects">
  <div class="container">
    <h1 class="title">Projetos</h1>

    <p class="text">
      A grande maioria dos meus trabalhos não está aqui! Apesar de eu
      eventualmente atender clientes finais, a maior parte dos meus trabalhos é
      realizado para agências que confiam no meu serviço.
    </p>

    <div class="text">
      Para ter acesso ao meu portfólio completo, por favor, utilize o formulário
      de contato ou envie um email para
      <a href="mailto:roberto.urias@gmail.com">roberto.urias@gmail.com</a>
      solicitando.
    </div>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let portfolio of cards">
      <div class="card__thumb">
        <img src="../../../assets/portfolio/uolhost.jpg" alt="Thumb UOL Host" />
      </div>
      <h3 class="card__name">UOLHost</h3>
      <p class="cart__description">
        Site que simula a interação do usuário com a câmera do LG G3 usando a
        webcam. O projeto foi desenvolvido na Huia/W3haus e atuei como
        Desenvolvedor front-end.
      </p>
      <p class="card__keys">
        HTML 5, CSS 3, Javascript, Angular 8
      </p>
    </div>
  </div>
</section>
