<section class="services">
  <div class="container">
    <h2 class="title">{{ title }}</h2>

    <p class="text">
      Como desenvolvedor <strong>front-end</strong>, transformo designs em
      páginas para a internet com foco em performance, diretrizes e técnicas
      para melhor posicionamento no Google e com
      <strong>implementação responsiva (um único projeto Mobile/Desktop)</strong
      >. <br />
      Os projetos são <strong>modulares/componentizados</strong> com os padrões
      mais atuais de desenvolvimento, de fácil leitura e manutenção.
    </p>

    <p class="text">
      Eu também sou desenvolvedor back-end em PHP, Node, Python, trabalho com
      banco de dados SQL Server, MySQL, SQLite, Postgree e gosto muito de fazer
      um bom código e vê-lo funcionando. <br />
      Sigo padrões de projeto e implemento testes unitários e automatizados
      tendo um projeto sólido e bem projetado.
    </p>

    <h3 class="subtitle">Alguns detalhes no desenvolvimento:</h3>

    <dl class="step-work bg-cut">
      <dt>Recorte</dt>
      <dd>
        As agências, o próprio cliente me mandam um design com a proposta do
        projeto, e eu recorto ele em HTML, CSS e Javascript com muito cuidado e
        atenção aos menores detalhes.
      </dd>
    </dl>

    <dl class="step-work bg-responsive">
      <dt>Site Responsivo</dt>
      <dd>
        Os projetos são construidos de forma responsiva para atender os
        diferentes dispositivos e tamanhos com apenas um código.
      </dd>
    </dl>

    <dl class="step-work bg-code">
      <dt>Desenvolvimento</dt>
      <dd>
        O projto é desenvolvido em PHP, Node ou Python com banco de dados
        utilizando os padrões mais atuais de projeto, seja um projeto novo ou já
        existente.
      </dd>
    </dl>

    <dl class="step-work bg-kanban">
      <dt>Organização</dt>
      <dd>
        Utilização do Jira ou o Trello para organizar as tarefas, documentar e
        fornecer o feedback de todo o desenvolvimento com o cliente até a
        entrega.
      </dd>
    </dl>

    <dl class="step-work bg-seo">
      <dt>SEO/Performance</dt>
      <dd>
        A prioridade do meu código é a organização e a semântica. Aliado às tags
        corretas, deixará seu site claro e acessível às ferramentas de busca.
        <br />
        Uso das tags de estrutura para o Google e uso de técnicas e
        recomendações do Speedytest para uma melhor performance.
      </dd>
    </dl>
  </div>
</section>
